rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // Sta read/write toe als de gebruiker is ingelogd
      allow read, write: if request.auth != null;
    }
  }
}